/*
 * @about:图片展示网;
 * @tag:瀑布流;
 * @publish_date:4-9;
*/

#masonry{margin-top: 50px;margin: 0 auto;text-align: center;}
#masonry .photoContainer{}
#masonry .photoContainer .photoList{list-style: none;margin: 0;padding-left: 0;padding:50px;padding-top: 0px}
#masonry .photoContainer .photoList li{display:inline;margin-bottom: 20px;width: 208px;}
#masonry .photoContainer .photoList li img{width: 100%;box-shadow: 1px 1px 1px #333;}
#masonry .photoContainer .photoList li.hide{display: none}
#masonry .opt{margin: 0 auto;display: inline-block;margin: 10px 0;}
#masonry .opt .btn{width: 80px;height: 30px;background-color: #16a085;-webkit-transition:all .2s ease-in;display: inline-block;line-height: 30px;color: #fff;box-shadow:1px 1px 1px #333;cursor: pointer;}
#masonry .opt .all:hover{background-color: #048063;color: #fff;}
#masonry .opt .black:hover{background-color: black;color: #fff;}
#masonry .opt .white:hover{background-color: white;color: #333;}
#masonry .opt .yellow:hover{background-color: yellow;color: #333;}
#masonry .opt .red:hover{background-color: red;color: #fff;}