/*
 * @about:图片展示网;
 * @publish_date:4-9;
*/

/*全局*/
*{font-family: Lato, 'Helvetica Neue', Helvetica, Microsoft yahei, Arial, sans-serif }
body{margin: 0;}

/*头部*/
header{width: 100%;height: 64px;background-color: rgba(0,0,0,0.7);position: relative;z-index: 20}
header .logo{display: inline-block;height: 50px;width: 130px;background-color: #fff;position: absolute;left: 7px;top: 7px;}
header nav{display: inline-block;position: absolute;right: 0;top: 0;height: 64px;width: 380px}
header nav ul{margin: 0;padding-left: 0;list-style: none;}
header nav ul li{display: inline-block;line-height: 64px;width: 60px;}
header nav ul li a{color: #fff;text-decoration: none;display: inline-block;text-align: center;width: 100%;-webkit-transition:all .2s ease-in;}
header nav ul li a:hover{color: #16a085;}

/*banner*/
.banner{width: 100%;height: 380px;margin-top: -64px;overflow: hidden;position: relative;z-index: 19}
.banner .img{width: 100%;height: auto;position: absolute;top: -120px;z-index: 19;-webkit-transition:all .2s ease-in;}
.banner .opt{list-style: none;position: absolute;bottom: 10px;left: 50%;z-index: 20;-webkit-transform:translateX(-50%);margin:0;padding-left:0;}
.banner .opt li{display: inline-block;height: 12px;width: 19px;}
.banner .opt .dot{display: inline-block;height: 12px;width: 12px;border-radius: 6px;background-color: #fff;-webkit-transition:all .2s ease-in;box-shadow:1px 1px 1px #333;}
.banner .opt .dot:hover{background-color: #333;}
.banner .opt .active{background-color: #16a085;}
.banner .hide{display: none;}

